<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366732803785-4alj7sa0lc2gnon4jnn3o2uk7ca1ronp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366732803785-4alj7sa0lc2gnon4jnn3o2uk7ca1ronp</string>
	<key>API_KEY</key>
	<string>AIzaSyC_RXeY8yG6e8aOFuMYWuDAxBIgv0-cQ94</string>
	<key>GCM_SENDER_ID</key>
	<string>366732803785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CheckMates.co</string>
	<key>PROJECT_ID</key>
	<string>checkmates-a47d9</string>
	<key>STORAGE_BUCKET</key>
	<string>checkmates-a47d9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366732803785:ios:b49b3db2464374987fd718</string>
</dict>
</plist>